<div class="container">
	<div class="jumbotron">
		<h2>O webov&eacute; konferenci</h2>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<p>O webu</p>
	</div>
	<div class="panel-body">
		<p>
			Vytvo&rcaron;eno jako semestr&aacute;ln&iacute; pr&aacute;ce z p&rcaron;edm&ecaron;tu KIV/WEB<br />
			T&eacute;ma konference je &quot;Programov&aacute;n&iacute; v C++&quot;
		</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<p>Autor</p>
	</div>
	<div class="panel-body">
		<p>
			Martin &Ccaron;ervenka<br />
			A14B0239P<br />
			<a href="https://github.com/cervenkam">GitHub</a>
		</p>
	</div>
</div>
