P&rcaron;ihl&aacute;&scaron;en jako:
<a class="ajax_content" href="user" data-target="#content">{{ session.user_name }}</a>
<a class="ajax_content" href="controller/logout.php"
	data-href="controller/logout.php logout" data-target="NULL #login">Odhl&aacute;sit</a>
