{% if session.user_name %}
<div class="panel panel-default">
<div class="panel-heading">
	<p>P&rcaron;id&aacute;v&aacute;n&iacute; p&rcaron;&iacute;sp&ecaron;vk&#367;</p>
</div>
<div class="panel-body">
<form enctype="multipart/form-data" class="container" action="controller/add.php" method="post">
	<div class="form-group">
		<label class="col-sm-2" for="add_name_field">N&aacute;zev p&rcaron;&iacute;sp&ecaron;vku:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" id="add_name_field" value="super_name" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2" for="add_owners_field">Auto&rcaron;i:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="owners" id="add_owners_field" value="He and She" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2" for="add_abstract_field">Abstract:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="abstract" id="add_abstract_field" value="abstract" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2" for="add_file_field">PDF soubor:</label>
		<div class="col-sm-10">
			<input type="file" name="file" id="register_file_field" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="P&rcaron;idat" />
		</div>
	</div>
</form>
</div>
</div>
{% else %}
Nejste p&rcaron;ihl&aacute;&scaron;en
{% endif %}
