{% if session.user_name %}
{% set form = {
	'heading':  'P&rcaron;id&aacute;n&iacute;',
	'submit':   'P&rcaron;idat',
	'name':     'Muj text',
	'authors':  'Majitel',
	'abstract': 'Abstrakt'
} %}
{% include 'form.tmpl' %}
<div class="panel panel-default">
<div class="panel-heading">
	<p>Moje p&rcaron;&iacute;sp&ecaron;vky</p>
</div>
<div class="panel-body">
{% for text in texts if text.user_id == session.user_id[0] %}
<table class="table_texts table table-condensed">
	<tr>
		<td>Jm&eacute;no</td>
		<td>{{ text.name }}</td>
		<td colspan="3">{{ text.abstract }}
	</tr>
	<tr>
		<td>Auto&rcaron;i</td>
		<td>{{ text.authors }}</td>
	</tr>
	<tr>
		<td>St&aacute;hnout</td>
		<td><a target="_blank" href="controller/download.php?id={{ text.ID }}">PDF soubor</a></td>
	</tr>
	<tr>
		<td>
			<a href="controller/publish.php?id={{ text.ID }}" data-href="controller/publish.php?id={{ text.ID }}" data-target="NULL">Upravit</a>
		</td>
		<td rowspan="2">
			<a class="ajax_content" href="controller/add.php?delete=true&id={{ text.ID }}" data-href="controller/add.php?delete=true&id={{ text.ID }} privilege_5" data-target="NULL #content">Smazat</a>
		</td>
	</tr>
</table>
{% else %}
	<p>Zat&iacute;m nic nep&rcaron;id&aacute;no</p>
{% endfor %}
</div>
</div>
{% else %}
Nejste p&rcaron;ihl&aacute;&scaron;en
{% endif %}
