{% if session.user_name %}
<table class="table table-condensed">
{% for text in texts %}
	<tr>
		<th>Jm&eacute;no</th>
		<th>St&aacute;hnout</th>
	</tr>
	<tr>
		<td>{{ text.name }}</td>
		<td><a class="ajax_content" data-href="controller/download.php?id={{ text.ID }}"
			data-target="NULL" href="controller/download.php?id={{ text.ID }}">PDF soubor</a></td>
	</tr>
	<tr>
		<th>Recenzent</th>
		<th>Hodnocen&iacute;</th>
	</tr>
	{% for rev in reviews[text.ID] %}
	<tr>
		<td><a class="ajax_content" data-href="controller/remove_reviewer.php?text_id={{ text.ID }}&user_id={{ rev.user_id }} privilege_3"
			data-target="NULL #content" href="controller/remove_reviewer.php?text_id={{ text.ID }}&user_id={{ rev.user_id }}">{{ users[rev.user_id].full_name }}</a></td>
		<td>
			{% for rating in ratings[rev.user_id] %}
				{{ rating.mark }}
			{% else %}
				Zat&iacute;m &zcaron;&aacute;dn&eacute; hodnocen&iacute;
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
<tr>
	<td>P&rcaron;idat recenzenta</td>
	<td>
		<form class="ajax_content" data-target="NULL #content" data-action="controller/add_reviewer.php privilege_3"
			action="controller/add_reviewer.php" method="post">
			<select name="user_id">
				{% for key,user in users if privileges[key][4].value %}
					<option value="{{ key }}">{{ user.full_name }}</option>
				{% endfor %}
				<input type="hidden" name="text_id" value="{{ text.ID }}" />
				<input type="submit" name="submit" value="P&rcaron;idat" />
			</select>
		</form>
	</td>
</tr>
{% endfor %}
</table>
{% else %}
Nejste p&rcaron;ihl&aacute;&scaron;en
{% endif %}
