{% if session.user_name %}
<div class="panel panel-default">
<div class="panel-heading">
	<p>Opr&aacute;vn&ecaron;n&iacute; ostatn&iacute;ch u&zcaron;ivatel&#367;</p>
</div>
<div class="panel-body">
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Jm&eacute;no</th>
		{% for privilege in privileges[session.user_id[0]] %}
			<th>{{ privilege.name }}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for name,privilege in privileges if name != session.user_id[0] %}
			<tr>
				<td>{{ users[name].full_name }}</td>
			{% for key,value in privilege %}
				<td>
					<a href="controller/switch_privilege.php?user={{ name }}&privilege={{ key }}"
					data-href="controller/switch_privilege.php?user={{ name }}&privilege={{ key }}"
					class="ajax_content" data-target="#img_{{ name }}_{{ key }}">
					<div id="img_{{ name }}_{{ key }}"> 
					{% if value.value %}
						<img class="privilege" src="view/images/ano.png" alt="ano" />
					{% else %}
						<img class="privilege" src="view/images/ne.png" alt="ne" />
					{% endif %}
					</div></a>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading">
		<p>Chyba</p>
	</div>
	<div class="panel-body">
		<p>Nejste p&rcaron;ihl&aacute;&scaron;en</p>
	</div>
</div>
{% endif %}
