{% if session.user_name %}
{% set form = {
	'heading':  'P&rcaron;id&aacute;n&iacute; p&rcaron;&iacute;sp&ecaron;vku',
	'submit':   'P&rcaron;idat',
	'name':     'Muj text',
	'authors':  'Majitel',
	'abstract': 'Abstrakt'
} %}
{% include 'form.tmpl' %}
<div class="panel panel-default">
<div class="panel-heading">
	<p>Moje p&rcaron;&iacute;sp&ecaron;vky</p>
</div>
<div class="panel-body">
{% for text in texts if text.user_id == session.user_id[0] %}
<div class="pane panel-default">
	<div class="panel-heading">
		{{ text.name }}
	</div>
	<div class="panel-body">
<table class="table_texts table table-condensed">
	<tr>
		<td>Auto&rcaron;i</td>
		<td>{{ text.authors }}</td>
		<td rowspan="3">{{ text.abstract|raw }}</td>
	</tr>
	<tr>
		<td>St&aacute;hnout</td>
		<td><a target="_blank" href="controller/download.php?id={{ text.ID }}">PDF soubor</a></td>
	</tr>
	<tr>
		<td>
			<a class="ajax_content" href="controller/edit.php?text_id={{ text.ID }}" data-href="controller/edit.php?text_id={{ text.ID }} edit" data-target="NULL #content">Upravit</a>
		</td>
		<td rowspan="2">
			<a class="ajax_content" href="controller/add.php?delete=true&id={{ text.ID }}" data-href="controller/add.php?delete=true&id={{ text.ID }} privilege_5" data-target="NULL #content">Smazat</a>
		</td>
	</tr>
</table>
</div>
</div>
{% else %}
	<p>Zat&iacute;m nic nep&rcaron;id&aacute;no</p>
{% endfor %}
</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading">
		<p>Chyba</p>
	</div>
	<div class="panel-body">
		<p>Nejste p&rcaron;ihl&aacute;&scaron;en</p>
	</div>
</div>
{% endif %}
