{% if session.user_name %}
<div class="panel panel-default">
<div class="panel-heading">
	<p>Moje opr&aacute;vn&ecaron;n&iacute;</p>
</div>
<div class="panel-body">
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Jm&eacute;no</th>
		{% for key,value in privileges[session.user_id[0]] %}
			<th>{{ value.name }}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ users[session.user_id[0]].full_name }}</td>
		{% for key,value in privileges[session.user_id[0]] %}
			<td>
				{% if value.value %}
					<img class="privilege" src="view/images/ano.png" alt="ano" />
				{% else %}
					<img class="privilege" src="view/images/ne.png" alt="ne" />
				{% endif %}
			</td>
		{% endfor %}
		</tr>
	</tbody>
</table>
</div>
</div>
{% else %}
<p>Nejste p&rcaron;ihl&aacute;&scaron;en</p>
{% endif %}
