{% if session.user_name %}
	{% include 'log.tmpl' %}
{% else %}
<form class="ajax_content container" data-target="NULL #login" data-action="controller/register.php log"
	action="controller/register.php" method="post">
	<div class="form-group">
		<label for="register_name_field">U&zcaron;ivatelsk&eacute; jm&eacute;no:</label>
		<input type="text" class="form-control" name="name" id="register_name_field" value="user" />
	</div>
	<div class="form-group">
		<label for="register_password_field">Heslo:</label>
		<input type="password" class="form-control" name="password" id="register_password_field" value="heslo" />
	</div>
	<div class="form-group">
		<label for="register_password2_field">Heslo znovu:</label>
		<input type="password" class="form-control" name="password2" id="register_password2_field" value="heslo" />
	</div>
	<div class="form-group">
		<label for="register_fullname_field">Cel&eacute; jm&eacute;no:</label>
		<input type="text" class="form-control" name="fullname" id="register_fullname_field" value="Karel Nov&aacute;k" />
	</div>
	<div class="form-group">
		<label for="register_email_field">E-mail:</label>
		<input type="email" class="form-control" name="email" id="register_email_field" value="karel.novak@seznam.cz" />
	</div>
	<div class="form-group">
		<label for="register_organization_field">Organizace:</label>
		<input type="text" class="form-control" name="organization" id="register_organization_field" value="Google" />
	</div>
	<input type="submit" value="Registrovat" />
</form>
{% endif %}
