<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand ajax_content" href="index" data-href="index" data-target="#content">Konference</a>
	</div>
	<ul class="nav navbar-nav">
		<li>
			<a class="ajax_content" href="about" data-href="about" data-target="#content">O konferenci</a>
		</li>
		{% for key,value in privileges[session.user_name] %}
			{% if value.value %}
				<li><a class="ajax_content" href="privilege_{{ key }}"
					data-href="privilege_{{ key }}" data-target="#content">
					{{ value.name|capitalize }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
