<!DOCTYPE html>
<html>
	<head>
		<title>Programov&aacute;n&iacute; v C++</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="controller/js/ajax_content.js"></script>
		<script src="view/bootstrap/js/bootstrap.min.js"></script>
		<script src="view/ckeditor/ckeditor.js"></script>
		<link rel="stylesheet" media="screen" href="view/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" media="screen" href="view/style.css" />
	</head>
	<body>
		<div id="header" class="container-fluid">
			<a class="ajax_content" href="index" data-href="index" data-target="#content">
				<h1>Programov&aacute;n&iacute; v C++</h1>
			</a>
		</div>
		<div id="login">
			{% include 'log.tmpl' %}
		</div>
		<div class="container-fluid" id="side_menu">
			{% include 'side_menu.tmpl' %}
		</div>
		<div class="container-fluid" id="content">
			{% include page ~ '.tmpl' %}
		</div>
		{% autoescape false %}
		<div class="well" id="messages">
		</div>
		{% endautoescape %}
	</body>
</html>
