{% if session.user_name %}
	{% for key,value in privileges[session.user_id[0]] %}
		{% if value.value %}
			{% include 'privilege_' ~ key ~ '.tmpl' ignore missing %}
		{% endif %}
	{% endfor %}
{% else %}
Nejste p&rcaron;ihl&aacute;&scaron;
{% endif %}
