<!DOCTYPE html>
<html>
	<head>
		<title>Title</title>
		<meta charset="utf-8" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/ajax_content.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" media="screen" href="bootstrap/css/bootstrap.min.css" />
	</head>
	<body>
		<div id="header">
			<h1>Webov&aacute; konference</h1>
		</div>
		<div id="side_menu">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<a class="navbar-brand ajax_content" href="index" data-target="#content">Konference</a>
				</div>
				<ul class="nav navbar-nav">
					<li>
						<a class="ajax_content" href="about" data-target="#content">O konferenci</a>
					</li>
				</ul>
			</nav>
		</div>
		<div id="content">
			{% block content %}
			{% include page ~ '.tmpl' %}
			{% endblock %}
		</div>
	</body>
</html>
