#login form{
	width: 20%;
	margin: 20px 0 20px auto;
}
#header{
	float: left;
}
#debug_div{ /* TODO delete this */
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 300px;
	background-color: #880000;
	color: white;
}
img.privilege{
	width: 20px;
}
