#login form, .form_logout{
	width: 30%;
	min-height: 50px;
	text-align: right;
	margin: 20px 20px 20px auto;
}
.form_logout{
	margin-top: 5px;
}
#header{
	height: 50px;
	float: left;
}
#messages{ /* TODO delete this */
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 500px;
	max-height: 200px;
	overflow-y: scroll;
	border-radius: 10px;
	padding: 10px;
	background-color: #ffccff;
	display: none;
}
#debug_div{ /* TODO delete this */
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 300px;
	background-color: #880000;
	color: white;
}
img.privilege{
	width: 20px;
}
.form-group{
	height: 30px;
}
table.table_texts td:nth-child(1), table.table_texts td:nth-child(2){
	width: 20%;
}
.small_input{
	width: 50px;
}
